<% if (site.categories.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('categories') %> ● category</h3>
    <div class="widget tag">
      <%- list_categories({show_count: theme.show_count, depth: 0}) %>
    </div>
  </div>
<% } %>
